<div id="content">
  <md-card>

    <md-input-container class="full-width">
      <input mdInput 
      placeholder="Write something down..." 
      autofocus="" 
      [(ngModel)]="newTodo.title" 
      (keyup.enter)="addTodo()">
    </md-input-container>
    
    <div *ngIf="todos.length > 0">
      <md-list class="todo-list">
        <md-list-item 
        *ngFor="let todo of todos" 
        [class.completed]="todo.complete">
                  
          <md-checkbox 
          (click)="toggleTodoComplete(todo)">
          </md-checkbox>
          
          <label>{{todo.title}}</label>

          <button md-button (click)="removeTodo(todo)">
            <md-icon>delete_forever</md-icon>
          </button>
          
        </md-list-item>
      </md-list>
    </div>

    <br />
    <hr>
    <br />

    <div *ngIf="todos.length > 0">
      <strong>{{todos.length}}</strong> 
      {{todos.length == 1 ? 'thing' : 'things'}} on the list...
    </div>

  </md-card>
</div>
