$color-silver: #aaa;

#content { 
  padding: 20px;
  width: 500px;
  margin: 0 auto;
}

label {
  margin-left: 15px;
}

button {
  padding: 0px;
  margin: 0 16px;
  min-width: 10px;
}

.todo-list md-list-item.completed label  {
	transition: color 0.3s ease-out;
  text-decoration: line-through;
  color: $color-silver;
}

md-input-container {
  width: 100%;
}

@media (max-width: 550px) {

  #content { 
    width: 90%;
  }

}
